Screen {
    height: 100%;
}

ButtonPanel {
    layout: vertical;
}

InputPanel {
    layout: vertical;
}

TokenPanel {
    layout: grid;
    grid-size: 4;
    grid-gutter: 1 1;
    grid-columns: 300%;
    grid-rows: 1fr;
    background: $boost;
    height: 9;
    padding: 1;
    margin: 1;
}

UploadPanel {
    height: 60%;
    width: 60%;
    border: solid green;
}

#username {
    background: grey;
    padding: 1;
    width: 20;
    margin: 0;
    height: 1;
}

#password {
    background: grey;
    padding: 1;
    margin: 0;
    height: 1;
    width: 20;
}

#filepath {
    background: grey;
    width: 50;
}

Button {
    width: 16;
    height: 1;
    margin: 0;
}

#start {
    dock: left;
}

#stop {
    dock: left;
    display: none;
}

#reset {
    dock: right;
}

.valid {
    color: $text;
}

.invalid {
    color: $text;
}

.valid #valid-token {
    background: green;
}

.invalid #valid-token {
    background: red;
}


.treecontainer {
    layout: horizontal;
    border: solid red;
}

#getexperiments{
    width: 24;
}

#experimentvertical {
    layout: vertical;
    height: 50%;
    width: 25%;
}