Screen {
    height: 100%;
}

Button {
    width: 16;
    height: 1;
    margin: 0;
}

/* top third of the screen */
ButtonPanel {
    layout: vertical;
}

InputPanel {
    layout: vertical;
}

TokenPanel {
    layout: grid;
    grid-size: 4;
    grid-gutter: 1 1;
    grid-columns: 300%;
    grid-rows: 1fr;
    background: $boost;
    height: 9;
    padding: 1;
    margin: 1;
}

#username-input {
    background: grey;
    padding: 1;
    width: 20;
    margin: 0;
    height: 1;
}

#password-input {
    background: grey;
    padding: 1;
    margin: 0;
    height: 1;
    width: 20;
}

.valid {
    color: $text;
}

.invalid {
    color: $text;
}

.valid #valid-token {
    background: green;
}

.invalid #valid-token {
    background: red;
}

/* bottom 2/3rds, left*/

#getexp-btn{
    width: 24;
}

#experiment-panel {
    layout: vertical;
    height: 75%;
    width: 30%;
}

/* bottom 2/3rds, center */

#path-panel {
    width: 30%;
    height: 75%;
}

#path-input {
    background: grey;
    width: 50;
}


#path-tree {
    width: 50;
    height: 75%;
}

/* bottom 2/3rds, right*/
#upload-panel {
    background: green;
    width: 30%;
    height: 20;
}

#upload-btns {
    height: 3;
}

#addfile-btn {
    width: 33%
}

#removefile-btn {
    width: 33%;
}

#upload-btn {
    width: 33%
}

#queue-tbl {
    width: 100%;
}